<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/style.css" />
        <title>Build4You Application</title>  
    </head>
        <body>
            <!-- This is how you get the list of projects from the projects folder
            <h1>List of Projects</h1>
                <ul>
                    {% for project in getProjectsList() %}
                        <li>{{ project }}</li>
                    {% endfor %}
                </ul> -->
            <nav class="navbar">
                <img src="/static/ServiceNow_logo_RGB_BL_WasabiGreen.png">
                <h1>Build4You</h1>
            </nav>
            <div class="row">
                <div class="column">
                    <form method="post" action="/">      
                        <fieldset>      
                            <legend><h2>Select all projects you would like to build</h2></legend> 
                            <div class="checkboxes">
                                {% for project in getProjectsList() %}
                                <input type="checkbox" name="projects" id={{ project }} value={{ project }}>
                                <label for={{ project }}> {{ project }}<label><br>
                                {% endfor %}    
                            </div>      
                            <br>      
                            <input type="submit" value="Build" class="build-button" />      
                        </fieldset>      
                    </form>
                </div>
                <div class="build_log">
                  <h2>Build Log</h2>
                  <textarea id="story" name="story" rows="30" cols="80">
                    Placeholder text
                    </textarea>
                </div>
           </div>
        </body>
</html>
