<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/style.css" />
        <title>Build4You Application</title>  
    </head>
        <body>
            <!-- This is how you get the list of projects from the projects folder
            <h1>List of Projects</h1>
                <ul>
                    {% for project in getProjectsList() %}
                        <li>{{ project }}</li>
                    {% endfor %}
                </ul> -->
            <nav class="navbar">
                <div id="logo">
                    <img src="/static/ServiceNow_logo_RGB_BL_WasabiGreen.png">
                </div>

                <div id="navlinks">
                    <div id="navItems">
                       <!-- <h1 class="link">Build4You</h1> -->
                        <p class="link">Home</p>
                        <p class="link">About</p>
                        <p class="link">Contact</p>
                    </div>
                </div>
            </nav>

            <div id="buildPage">
                    <div class="column">
                        <form method="post" action="/">
                            <fieldset>
                                <legend><h2>Select all projects you would like to build</h2></legend>
                                <div class="checkboxes">
                                    {% for project in getProjectsList() %}
                                    <input type="checkbox" name="projects" id={{ project }} value={{ project }}>
                                    <label for={{ project }}> {{ project }}<label><br>
                                    {% endfor %}
                                </div>
                                <br>
                                <input type="submit" value="Build" class="build-button" />
                            </fieldset>
                        </form>
                    </div>
                    <div class="build_log">
                    <h2>Build Log</h2>
                      <ul>
                        {% for key in build_results.keys() %}
                        <li>{{ key }} : {{ build_results[key] }}</li>
                        {% endfor %}
                      </ul>
                    </div>
            </div>
        </body>
</html>
